.form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 83vw;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.input {
  width: 70%;
  height: 1.5rem;
  padding: 15px;
  border-radius: 4px;
  font-size: large;
  border: solid 1px #e8e8e8;
  color: #c4c4c4;
}

.select {
  width: 15rem;
  padding: 10px;
  height: 98%;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  text-align: center;
  color: #c4c4c4;
  font-size: larger;
}

.btn {
  width: 9rem;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: 1px solid #0290ff;
  color: #fff;
  font-size: large;
}
