.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  height: 100px;
  border-radius: 5px;
  margin: 20px auto;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.image {
  width: 50%;
  margin-right: 2vw;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
  align-items: center;
}

.ui_continer {
  width: 50%;
  justify-content: space-around;
}

.border {
  height: 4rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.Oval-2 {
  width: 70px;
  height: 70px;
  border: 4px solid transparent;
  border-radius: 80px;
  border-top: 3px solid transparent;
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #307bbe, #379cf6);
  background-origin: border-box;
  -webkit-background-clip: content-box, border-box;
  background-clip: content-box, border-box;
  margin-right: 10px;
}

.title {
  height: 1.813rem;
  font-family: sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.Remove,
.Remove:focus {
  background: none;
  border: none;
  width: 3.375rem;
  height: 1.188rem;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  cursor: pointer;
  padding: 0;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.percent-Complete {
  width: 4.25rem;
  height: 2.438rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}

.Current-Chapter {
  height: 1.125rem;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.5);
}

.Current-Lesson {
  height: 1.313rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Rectangle-2 {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: 1px solid #0290ff;
  cursor: pointer;
  margin-top: 10px;
}
